include CHANGELOG.md
include README.md
include requirements.in

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include yorha *.json
recursive-include yorha *.py *.jpg *.png *.gif
